.profile-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

.profile-section {
  background: #fff;
  width: 60%;
  height: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.profile-section a {
  text-decoration: none;
  color: #000;
}
.profile-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0;
}
.profile-change-section {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}

.icon {
  color: #000;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile-change-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgb(231, 223, 223);
}

.profile-update-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-change-section:hover .overlay {
  opacity: 1;
}

.profile-change-section:hover {
  opacity: 0.6;
}

.change-input {
  height: 30px;
  padding: 5px;
  width: 100%;
}

.profile-update-settings label {
  font-size: 16px;
  font-family: "Poppins";
}

.button-primary {
  padding: 7px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: #0095f6;
  color: white;
  margin-top: 20px;
}

.button-danger {
  padding: 7px 8px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  background: #c71e1e;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}
.profile-stats {
  display: flex;
  text-align: center;
}

.profile-stats p {
  font-size: 20px;
  margin: 10px 20px;
  font-family: "Poppins";
  text-transform: capitalize;
}
